</div>
</body>

<footer class="mt-5 text-center">
	<div class="">
		<p>
			&#x24B8; YelpCamp 2019 | <a href="/">Home</a>  |  <a href="/campgrounds">Campgrounds</a> 
			<%if(!currentUser){%>
			 | <a href="/login">Login</a>
			 | <a href="/register">Register</a>
			<%}%>
		</p>
		<a class="btn btn-primary" href="https://www.kushaljain.com">Made by Kushal Jain</a>
	</div>
</footer>
</html>