<%include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/loginAndSignup.css">
    <div class='d-flex flex-column align-items-center'>
            <div class='form-container text-center'>
                    <div><h1>Login</h1></div>
                    <div class='text-center'>
                        <form class="w-100" action="/login" method="POST">
                            <div class='form-group'>
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class='form-group'>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class='form-group'>
                                <button type="submit" class='btn btn-primary btn-lg'>Submit</button>
                            </div>
                        </form>
                    </div>
                    <div><a href="/register">Sign Up</a> instead?</div>
            </div>
                    
    </div>
<%include ./partials/footer %>