<%include ./partials/header %>
<div class="main-body-container">

    <h1>LOGIN page</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Submit</button>
    </form>
    <br>
    <p><a href="/register">Sign Up</a> instead</p>
</div>

<%include ./partials/footer %>