<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    
    
    <div class="carousal-container text-center mb-4 display-flex align-self-center">
        <div >
            <h1 class="display-3"><strong>Camping gets you going</strong></h1>
            <p>View our hand-picked camping grounds from all over the world!</p>
            <div>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
            </div>
        </div>
    </div>
        
    <div class="container"> <!--main container starts here-->
        <div class="row text-center" style="display: flex; flex-wrap: wrap">
            <% campgrounds.forEach((campground) => { %>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="<%= campground.image; %>">
                        <div class="card-body">
                            
                                <h4 class="card-title"><%= campground.name %></h4>
                            
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More Info</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div> <!--main container ends here-->
    
<% include ../partials/footer %>