.carousel {
	height: 70vh;
}
.carousel-inner {
	height: 100%;
	width: 100%;
}
.carousel-caption {
	top: 18%;
}

.carousel-caption h3 {
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 0.7em;
	text-shadow: 2px 6px 6px #0f1626;
}

.c-item-2 {
	background-color: rgba(15, 22, 38, 0.5);
}
.c-item-2 img {
	opacity: 0.5;
}

.c-2-title {
	font-family: cursive;
	color: rgb(15, 22, 38);
	font-size: 2.7em;
}
.coral-text {
	color: #ff533d;
}
.card-img-top {
	width: 100%;
	height: 40vh;
	object-fit: cover;
}
.card-body {
	height: 100%;
}

@media (min-width: 2200px) {
	.carousel-caption {
		top: 15%;
	}
}

.card-container {
	width: 90%;
	margin: auto;
}
.card {
	width: 32%;
	height: 32%;
	background-color: #0f1626;
	color: #f5f5f5;
	border: none;
	box-shadow: 5px 9px 12px -2px rgba(0, 0, 0, 0.64);
}

@media (max-width: 560px) {
	.carousel {
		height: auto;
	}
	.card {
		width: 100%;
		height: 100%;
	}
}
