.form-container {
	width: 30%;
	margin-top: 2em;
}

@media (max-width: 560px) {
	.form-container {
		width: 90%;
		margin: auto none;
	}
}
.form-container a:nth-last-of-type(1) {
	color: #ffffff;
	text-decoration: underline;
}

.form-container .btn-primary {
	width: 100%;
}
