* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Red Hat Text', sans-serif;
}

.main-body-container {
	margin-top: 3.5em;
}
.delete-btn {
	display: inline;
}

.bg-custom {
	background-color: #ff553d;
}

.btn-primary {
	background-color: #ff553d;
	color: #0f1626;
	border: none;
}
.btn-primary:hover {
	background-color: #0f1626;
	color: #ff553d;
}
.btn-secondary {
	background-color: #ab987a;
	border: none;
	color: #0f1626;
}
.btn-secondary:hover {
	background-color: #ff553d;
	color: #f5f5f5;
}
